include holosimulator/profile/*
include holosimulator/profile/slurm/*
include holosimulator/profile/local/*
include holosimulator/workflow/*
include holosimulator/workflow/rules/*
include holosimulator/workflow/scripts/*
include holosimulator/bin/*